/*
 * Programmer Name: Lauren Kellynn
 * Date: 2/19/2023
 * IT Capstone Project: Style Sheet for shopping page
 */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

:root {
    --main-color: #fff;
    --text-color: #fff;
    --bg-color: #749E9E;
}

body {
	background-image: url('background1.png');
		background-repeat: no-repeat;
        background-size: cover;
}

.badge {
    position: absolute;
    padding: 5px 5px;
    border-radius: 50%;
    background: var(--text-color);
    visibility: hidden;
}

.open-badge {
    visibility: visible;
    position: absolute;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    position: fixed;
    z-index: 100;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

section {
    padding: 4rem 0 3rem;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: left;
    margin-bottom: 1.5rem;
    color: var(--text-color);
    text-decoration-line: underline;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 400;
}

.shop {
    margin-top: 2rem;
}

.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
  color: var(--text-color);
}

.shop-content2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
  color: var(--text-color);
}

.shop-content3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
  color: var(--text-color);
}

.product-box {
    position: relative;
}

.product-title {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.price {
    font-weight: 500;
}

.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: transparent;
    color: var(--main-color);
    padding: 10px;
    cursor: pointer;
}

.add-cart:hover {
    background: hsl(249, 32%, 17%);
}

.cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--text-color);
}

.cart {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: -100%;
    width: 360px;
    height: 800px;
    padding: 30px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 25% 50% 18%;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.cart-price {
    color: var(--text-color);
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid var(--text-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.cart-remove {
    font-size: 24px;
    color: var(--main-color);
    background: transparent;
    cursor: pointer;
}

.cart-remove:hover {
    background: hsl(249, 32%, 17%);
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5 rem;
    border-top: 1px solid var(--text-color);
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
}

.total-price {
    margin-left: 0.5rem;
    color: var(--text-color);
}

.btn-buy {
    width: 50%;
    margin-top: 20px;
    padding: 10px 0;
    background: hsl(249, 32%, 17%);
    color: var(--text-color);
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.cart .checkout {
    text-align: center;
}

.btn-buy:hover{
    background: var(--main-color);
    color: hsl(249, 32%, 17%);
}

.close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    color: var(--text-color);
    font-size: 2rem;
    background: transparent;
    cursor: pointer;
}

.close-cart:hover{
    background: var(--main-color);
    color: hsl(249, 32%, 17%);
}

.cart.active {
    right: 0;
}

