/*Style Sheet */

* {
	margin: 0px;
	padding: 1px;
}

header, section, footer, aside, nav, article, hgroup {
	display: block;
}

p, ul {
	color: midnightblue;
	font-family:verdana; 
}

#menu ul {
	display:inline-block;
	list-style-type:none;
	margin:0;padding:5px;
	background-color:none;
	}
	
#menu li {
	float: left;
	border-right: 1px solid;
	border-left: 1px solid;
}

#section1 {
	float: left;
	width: 650px;
	margin: 20px;
}

#section2 {
	float: right;
	width: 1300px;
	margin: 40px;
}

#side {
	float: right;
	width: 600px;
	margin: 30px;
	background-color: papayawhip;
	border: 1px solid darkgreen;
}

#list {
	text-align: left;
	list-style-position: inside;
}

#foot {
	clear:both;
	text-align:center;
	padding: 20px;
	border: top 2px solid darkgreen;
}

article {
	background-color: papayawhip;
	border: 1px solid darkgreen;
	padding: 10px;
	margin-bottom: 15px;
}

a {
	display: block;
	color: midnightblue;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

h1, h2, h3 {
	color: midnightblue;
	text-align:left;
}

h4 {
	color: midnightblue;
}

body {
	background-image: url('Background.jpg');
		background-size: cover;
	text-align:center;
}

	

